/* styles_final.css */
}

.navbar {
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: blue;

}

.body {

  color: blue;
}
}

h1 {
  font-family: "Marcellus", serif;
  background-color: #fffef3;
  color: blue;
  text-align: center;
}
h2 {
  background-color: #fffef3;
  font-size: 40px;
  font-family: "Roboto", serif;
  text-align: left;
}

h3 {
  background-color: #fffef3;
  font-family: "Roboto", serif;
  text-align: left;
  colour: blue;
}

h4 {
  
  font-family: "Roboto";
  font-size: 20px;
}
p {
  background-color: #fffef3;
  color: blue;
  text-align: right;
  border: 0px groove #fffef3;
}

.container {
  background-color: #fffef3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.column1 {
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.helmet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.test {
  background-color: #fffef3;
}



/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}